*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner{
    height: 100vh;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
    
}
h1{
    font-size: 4rem;
    margin-bottom: 10px;
}
.play{
    font-size: 25px;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: rgb(43, 39, 39);
    margin: 10px 20px;
    box-shadow: 0 0 5px 3px rgb(33, 32, 32);
}
p{
    margin-top: 10px;
    width: 40%;
    font-size: 20px;
}
.play:hover{
    background-color: gray;
    color: black;
}