* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    position: fixed;
    top: 0;
    width: 100%;


}
.dark{
    background-color: rgba(0,0,0,0.5);
}
.logo img{
    width: 200px;
}
.emoji img{
    width: 50px;
}

.banner h1{
    color: white;
  font-size: 4rem;
}

.rows {
    margin: 1 rem;
}

.rows .movies {
    display: flex;
    overflow-x: scroll;    
    overflow-y: hidden;
    padding: 5px;
}
.rows .movies::-webkit-scrollbar{
    display: none;
}
.rows.bigger .movies img{
    width: 250px;
    padding-top: 10px;

}
.rows .movies img {
    width: 200px;
    margin: 10px;
    border-radius: 1px;
    box-shadow: 0 0 3px 1px rgb(107, 107, 107);
}
.rows.bigger h1,.rows h1{
    font-size:40px ;
    color: white;
}
.rows.bigger .movies img,.rows .movies img {
    transition: all 0.5s ease;

}
.rows.bigger .movies img:hover,.rows .movies img:hover{
    transform: scale(1.05);
}


