*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box1{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
   
}
.box1 h1,.box1 input,.box1 label.box1 button{
    margin: 5px 0;
    font-size: 20px;
    
    text-align: center;
}
.box2{
    display: none;
}