*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 20px 40px;
    position: fixed;
    width: 100%;
}
header,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    justify-content: center;
    list-style: none;
    font-size: 20px;
    font-weight: 400;
}
ul li{
    margin: 0px 10px;
}
.model_X,.model_Y,.model_S,.model_3,.solar,.SolarPanels,.SolarRoof,.Accessories{
    height: 100vh;
    display: flex;
    text-align: end;
    align-items: center;
    flex-direction: column;
}
.model_3{
    background: url(./images/model-3.jpg) no-repeat scroll center / cover;
}
.model_S{
    background: url(./images/model-s.jpg) no-repeat scroll center / cover;
}
.model_Y{
    background: url(./images/model-y.jpg) no-repeat scroll center / cover;
}
.model_X{
    background: url(./images/model-x.jpg) no-repeat scroll center / cover;
}
.SolarPanels{
    background: url(./images/solar-panel.jpg) no-repeat scroll center / cover;
}
.SolarRoof{
    background: url(./images/solar-roof.jpg) no-repeat scroll center / cover;
}
.Accessories{
    background: url(./images/accessories.jpg) no-repeat scroll center / cover;
}
.spaical{
    margin-top: 150px;
    text-align: center;
    
}
.spaical h1{
    font-size: 2.5rem;
}
.spaical h4{
    font-size: 18px;
    font-weight: 250;
}
.anchors{
    margin-top:400px ;
    text-align: center;
}
.order,.learn{
    padding: 10px 90px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 40px;
    margin: 0px 15px;
}
.order{
    background-color:  rgba(23, 26, 32, 0.8);
    color: white;
}
.learn{
    background-color: rgb(255, 255, 255);
    color: black;
}
.order:hover{
    background-color:  rgba(56, 56, 56, 0.8);
    color: white;
}
.learn:hover{
    background-color: rgb(189, 181, 181);
    color: black;
}
